aiogram==3.4.1
playsound==1.2.2
pycryptodomex==3.23.0
pycaw==20220309
python_minifier==2.11.3
comtypes==1.1.14
cryptography==42.0.5
pynput==1.7.6
psutil==5.9.8
browser_cookie3==0.20.1
pyautogui==0.9.54
opencv-python==4.10.0.82
pygetwindow==0.0.9
pyperclip==1.8.2
pyaudio==0.2.14
aiohttp==3.9.5
requests==2.31.0
GPUtil==1.4.0
